body {
	font-family: "Open Sans", sans-serif;
	color: #333;
	padding: 50px;
}

blockquote {

	background: #f5f5f5;
	border: 1px solid #ddd;
	margin: 0;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;

}

blockquote blockquote {

	background: #fff;
	border: none;

}

pre {
	background: #f8f8ff; 
	border: 1px solid #ddd;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

h2 {
	text-decoration: underline;
}

h4 strong {
	color: #5d87a1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
}